* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #000;
    background: #ccc;
    line-height: 1.6em;
}

a {
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#container {
    width: 980px;
    margin: 40px auto;
    overflow: hidden;
}

#slider {
    width: 940px;
    height: 350px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
    border: #666 solid 2px;
    border-radius: 5px;
}

#slider img {
    width: 940px;
    height: 350px;     
}

.slide {
    position: absolute;
}

.slide-copy {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: rgba(0,0,0,.35);
    color: #fff;
}

#prev, #next {
    float: left;
    margin-top: 130px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    height: 50px;
}

#prev {
    margin-right: -40px;   
}

#next {
    margin-left: -40px;    
}

























